
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}





main{
    font-family: "Open Sans", sans-serif;
}

img{
    max-width: 100%;
    width: 75%;
    height: auto;
    
    
}

.dog{
    max-width: 100%;
    width: 25%;
    height: auto;
    display: inline-block;
    flex-wrap: row wrap;
    flex-direction: row;
    flex-wrap: wrap;
    word-wrap:break-word;
    margin: 0.2rem;
    
}


.dog-listing li {
    list-style: none;
    display: inline-block;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    background: #89DEEF;
    border-radius: 25%;
    text-indent: 0%;
    margin:  0 auto;
}

.dog-listing{
    align-items: flex-start;
}
    


.title{
    font-family: ;
    color: white;
    background-color:#004175;
    border-width: 0 0 10px 0;
    border-color: #89DEEF;
    border-style: solid;
}

.footer{
    
}

    
.block{
    display: inline-flex;
    position: absolute;
    flex-direction: row;
    align-items: ;
}

.d{

}